header {
  background: url("images/imgHeader.jpg") no-repeat #AAAAAA center 100%;
  background-size: 100%;
  background-blend-mode: multiply;
  background-position:50% 10%;
  margin-top: 30px;
  height: 150px;
  width: 100%;
}

h1{
  font-size: 55px;
  color: white;
  text-align: center;
}

div.hidden{
  visibility: hidden;
}




main{
  text-align: center;
}