header {
	padding-left: 20px;
	margin-left: 10px;
}	

.search-form {
	padding-left: 20px;
	margin: 10px;
}	


.search-results {
	padding: 10px;
}

.youtubeThumbnails {
	padding: 10px;
	margin: 10px;
}	

.thumbImg {
	width: 100%;
}


@media (min-width: 640px) {
	.thumbImg {
		width: 300px;
	}
}
