html {
	text-align: center;
	color: darkgrey;
}

header {
	font-size: 22px;
	padding: 20px;
}

button {
	margin: 20px;
}

.logoContainer {
	display: inline-block;
	width: 700px;
}

img {
	height: 100px;
	width: 100px;
	margin: 50px;
}

.fade {
	filter: grayscale(100%) contrast(30%) brightness(170%) opacity(80%);
}